
CREATE TABLE [dbo].[EdoState](
	[EdoStateId] [tinyint] NOT NULL,
	[EdoStateName] [varchar](32) NOT NULL,
	[EdoStateDescription] [varchar](256) NULL,
 CONSTRAINT [PK_EdoState] PRIMARY KEY CLUSTERED 
(
	[EdoStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

